* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p::selection {
  color: indigo;
}

strong::selection {
  color: indigo;
}

h1 {
  transition: transform 200ms ease;
}
h1:hover {
  transform: scale(1.05);
}

body {
  overflow-x: hidden;
}

.c-indigo {
  color: rgba(76, 0, 130, 0.86);
}

.nav-item a:hover {
  color: rgba(76, 0, 130, 0.86);
}

.navbar-toggler {
  border: 3px solid rgba(76, 0, 130, 0.86);
  box-shadow: 0px 9px 28px 3px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 991px) {
  .nav-item a {
    margin: 20px;
    transition: transform 200ms ease;
  }
  .nav-item a:hover {
    transform: scale(1.05);
  }
}
.banner-index {
  background-image: url(../assets/img/foto-fondo5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}
.banner-index__text, .banner-yoga__texto, .banner-cursos__text, .banner-charlas__texto, .banner-about-us__text {
  color: rgba(76, 0, 130, 0.959);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  background-color: rgba(240, 248, 255, 0.384);
  position: relative;
  top: 45%;
  padding: 5px;
  font-family: "Francois One", sans-serif;
}

.contenedor {
  display: flex;
  flex-direction: column;
}
.contenedor__texto {
  padding: 10px;
  border: 5px solid rgba(76, 0, 130, 0.86);
  width: 80%;
  margin-top: 20px;
  border-radius: 20px;
  margin-left: 35px;
}
.contenedor__video iframe {
  margin-top: 20px;
  width: 100%;
  height: 50vh;
}

video {
  overflow: hidden;
  width: 100%;
  padding: 20px;
}

@media screen and (min-width: 475px) {
  .contenedor__texto {
    margin-left: 50px;
  }
  .contenedor__video video {
    width: 80%;
    margin-left: 50px;
  }
}
@media screen and (min-width: 600px) {
  .banner-index {
    height: 70vh;
  }
  .contenedor__texto {
    margin-left: 60px;
  }
  .contenedor__video video {
    width: 80%;
  }
}
@media screen and (min-width: 800px) {
  .banner-index {
    height: 80vh;
  }
  .contenedor__texto {
    margin-left: 80px;
  }
  .contenedor__video video {
    width: 85%;
  }
}
@media screen and (min-width: 1024px) {
  .banner-index__text, .banner-yoga__texto, .banner-cursos__text, .banner-charlas__texto, .banner-about-us__text {
    font-size: 3rem;
    font-weight: 700;
  }
  .contenedor {
    display: flex;
    flex-direction: row;
  }
  .contenedor__texto {
    margin-bottom: 20px;
    width: 100%;
  }
  .contenedor__video video {
    margin-top: 100px;
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .contenedor__texto {
    align-self: center;
    margin-left: 110px;
  }
  .contenedor__video video {
    margin-top: 40px;
  }
}
.banner-about-us {
  background-image: url(../assets/img/foto-fondo2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}
.analia__titulo, .yoga-titulo, .javier__titulo, .camino-del-ser h2 {
  background-color: rgba(76, 0, 130, 0.959);
  padding: 5px;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  font-family: "Francois One", sans-serif;
}
.analia__foto, .javier__foto {
  width: 100%;
  padding: 10px;
}
.analia__texto, .javier__texto {
  padding: 10px;
  border: 5px solid rgba(76, 0, 130, 0.86);
  width: 100%;
  margin-top: 20px;
  border-radius: 20px;
  text-align: justify;
  margin-bottom: 10%;
}

@media screen and (min-width: 600px) {
  .banner-about-us {
    height: 70vh;
  }
  .analia__foto, .javier__foto {
    width: 80%;
    margin-left: 60px;
  }
  .javier__foto {
    width: 80%;
    margin-left: 60px;
  }
}
@media screen and (min-width: 800px) {
  .banner-about-us {
    height: 80vh;
  }
  .analia__foto, .javier__foto {
    width: 60%;
    margin-left: 150px;
  }
  .javier__foto {
    width: 60%;
    margin-left: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .banner-about-us__text {
    font-size: 3rem;
    font-weight: 700;
  }
  .analia__contenedor {
    display: flex;
    flex-direction: row;
  }
  .analia__foto, .javier__foto {
    width: 72%;
  }
  .analia__texto, .javier__texto {
    align-self: center;
    text-align: center;
    margin: 15px;
  }
  .javier__contenedor {
    display: flex;
    flex-direction: row;
  }
  .javier__foto {
    width: 72%;
  }
  .javier__texto {
    align-self: center;
    text-align: center;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .analia__foto, .javier__foto {
    width: 40%;
  }
  .analia__texto, .javier__texto {
    width: 50%;
  }
  .javier__foto {
    width: 40%;
  }
  .javier__texto {
    width: 50%;
  }
}
.banner-charlas {
  background-image: url(../assets/img/foto-fondo4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}
@media screen and (min-width: 475px) {
  .img__charlas {
    max-width: 500px;
  }
}
@media screen and (min-width: 600px) {
  .banner-charlas {
    height: 70vh;
  }
}
@media screen and (min-width: 800px) {
  .banner-charlas {
    height: 80vh;
  }
}
@media screen and (min-width: 1024px) {
  .banner-charlas__text {
    font-size: 3rem;
  }
  .charlas__imagenes {
    flex-direction: row;
  }
}
.banner-cursos {
  background-image: url(../assets/img/foto-fondo1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}
.cursos__text, .charlas__text {
  padding: 10px;
  border: 5px solid rgba(76, 0, 130, 0.86);
  margin-top: 80px;
  border-radius: 20px;
  text-align: justify;
  margin-bottom: 10%;
}
.cursos__imagenes, .charlas__imagenes {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cursos__imagenes img, .charlas__imagenes img {
  width: 100%;
}

.img__cursos, .img__charlas {
  border: 5px solid rgba(76, 0, 130, 0.86);
  border-radius: 20px;
  min-width: 300px;
  padding: 10px;
  transition: scale 200ms ease;
}
.img__cursos:hover, .img__charlas:hover {
  scale: 1.02;
}

@media screen and (min-width: 475px) {
  .img__cursos, .img__charlas {
    max-width: 500px;
  }
}
@media screen and (min-width: 600px) {
  .banner-cursos {
    height: 70vh;
  }
}
@media screen and (min-width: 800px) {
  .banner-cursos {
    height: 80vh;
  }
}
@media screen and (min-width: 1024px) {
  .banner-cursos__text {
    font-size: 3rem;
  }
  .cursos__imagenes, .charlas__imagenes {
    flex-direction: row;
  }
}
.banner-yoga {
  background-image: url(../assets/img/foto-fondo3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}
.yoga__texto {
  padding: 10px;
  border: 5px solid rgba(76, 0, 130, 0.86);
  width: 100%;
  margin-top: 20px;
  border-radius: 20px;
  text-align: justify;
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  padding: 20px;
  grid-gap: 10px;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 200ms ease;
}
.gallery__img:hover {
  transform: scale(1.03);
  box-shadow: 0px 9px 28px 3px rgba(0, 0, 0, 0.9);
}

.gallery__item:nth-child(3) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(4) {
  grid-column-start: span 2;
}

.gallery__item:nth-child(5) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(8) {
  grid-column-start: span 2;
}

.gallery__item:nth-child(9) {
  grid-column-start: span 3;
}

@media screen and (min-width: 475px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .gallery__item:nth-child(2) {
    grid-column-start: span 3;
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(6) {
    grid-column-start: span 2;
  }
  .gallery__item:nth-child(9) {
    grid-column-start: span 2;
  }
}
@media screen and (min-width: 600px) {
  .banner-yoga {
    height: 70vh;
  }
}
@media screen and (min-width: 800px) {
  .gallery {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 250px;
  }
  .gallery__item:nth-child(1) {
    grid-column-start: span 2;
  }
  .gallery__item:nth-child(3) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  .gallery__item:nth-child(6) {
    grid-column-start: span 3;
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(5) {
    grid-row-start: span 3;
  }
  .gallery__item:nth-child(7) {
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(9) {
    grid-column-start: span 3;
  }
}
@media screen and (min-width: 1024px) {
  .banner-yoga__texto {
    font-size: 3rem;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    margin: 50px;
    border: 5px solid indigo;
    border-radius: 20px;
    grid-auto-rows: 150px;
  }
  .gallery__item:nth-child(1) {
    grid-row-start: span 2;
    grid-column-start: span 3;
  }
  .gallery__item:nth-child(2) {
    grid-column-start: span 2;
  }
  .gallery__item:nth-child(3) {
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(4) {
    grid-column-start: span 3;
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(5) {
    grid-row-start: span 3;
  }
  .gallery__item:nth-child(6) {
    grid-row-start: span 3;
    grid-column-start: span 4;
  }
  .gallery__item:nth-child(7) {
    grid-column-start: span 2;
  }
  .gallery__item:nth-child(8) {
    grid-row-start: span 2;
    grid-column-start: span 3;
  }
  .gallery__item:nth-child(9) {
    grid-column-start: span 5;
    grid-row-start: span 2;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    margin: 100px;
    grid-auto-rows: 200px;
  }
}
.contact {
  height: 90%;
  width: 90%;
  background-color: rgba(255, 251, 238, 0.6784313725);
  margin: auto;
  padding: 20px;
}

.contact__image-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.contact__image {
  width: 100%;
}

.contact__right-side {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 7.3% 0 4.7%;
  width: 100%;
}

.contact__title {
  font-size: 50px;
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contact__form-wrapper, .contact__input-line {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.contact__input-line {
  margin-bottom: 45px;
}

.contact__label {
  font-size: 18px;
  font-weight: 600;
}

.contact__input {
  height: 30px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid #121212;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: #121212;
  background-color: transparent;
}
.contact__input--textarea {
  height: 100px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid #121212;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: #121212;
  resize: none;
  background-color: transparent;
}

.contact__submit-button {
  padding: 18px 55px;
  border-radius: 50px;
  color: #121212;
  background-color: rgba(255, 251, 238, 0.6784313725);
  border: 2px solid #121212;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  margin: auto;
}
.contact__submit-button:hover {
  color: #FFFBEE;
  background-color: #121212;
}

@media screen and (min-width: 600px) {
  .contact__image-wrapper {
    width: 80%;
    margin: auto auto 30px;
  }
}
@media screen and (min-width: 800px) {
  .contact__image-wrapper {
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  .contact {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFFBEE;
  }
  .contact__image-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contact__image-wrapper {
    width: 80%;
  }
}
footer {
  background-color: rgba(76, 0, 130, 0.959);
  color: white;
  box-shadow: 30px 9px 28px 3px rgba(0, 0, 0, 0.9);
}

footer a:hover {
  text-decoration: none;
  color: white;
}

.icons {
  display: flex;
  column-gap: 25px;
  padding: 15px;
  justify-content: space-around;
}

.icon {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: white;
  border-radius: 50%;
  outline: 2px solid white;
  transition-property: outline-offset, outline-color, backgroud-color;
  transition-duration: 0.25s;
}

.icon:hover {
  outline-offset: 4px;
}

.icon:hover i {
  animation: shake 0.25s;
}

.icon--youtube:hover {
  background: radial-gradient(circle, rgb(250, 2, 2) 0%, rgb(5, 0, 2) 100%);
  outline-color: rgb(143, 2, 2);
}

.icon--facebook:hover {
  background: radial-gradient(circle, rgb(2, 128, 250) 0%, rgb(5, 0, 2) 100%);
  outline-color: rgb(0, 69, 138);
}

.icon--instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  outline-color: #a02d76;
}

.icon--whatsapp:hover {
  background: radial-gradient(circle, rgb(5, 255, 0) 0%, rgb(5, 0, 2) 100%);
  outline-color: rgb(3, 109, 1);
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}
footer .copyright {
  text-align: center;
  margin: 0;
  padding: 15px;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
