*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

p::selection{
    color: indigo;
}

strong::selection{
    color: indigo;
}

/**---------HEADER-------------**/

.c-indigo{
    color: rgba(76, 0, 130, 0.86);
}
.c-white{
    color:white;
}
.bg-indigo{
    background-color: rgba(76, 0, 130, 0.86);
}

.size-video{
    width: 100%;
}

.nav-item a:hover{
    color: indigo;
}

@media(min-width:991px){
    .nav-item a{
        margin: 20px;
    }
}

/** animacion para todos lod h1**/

body h1{
    transition: transform .2s;
}

body h1:hover {
    transform: scale(1.5);
}

body{
    overflow-x: hidden;
}


/**-------------------------------------------------------------MAIN INDEX------------------------------------------------------------------**/

.banner-index{
    background-image: url(../assets/img/foto-fondo5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

.banner-index__text{
    color: rgba(76, 0, 130, 0.959);
    text-align: center;
    font-weight: 700;
    background-color:rgba(240, 248, 255, 0.384);
    position: relative;
    top: 45%;
    padding: 5px;
    font-size: 2rem;
    font-family: 'Francois One', sans-serif;
}


@media (min-width:600px){
    .banner-index{
        height: 70vh;
    }
}
@media (min-width:800px){
    .banner-index{
        height: 80vh;
    }
}

@media (min-width:1024px){
    .banner-index__text{
        font-size: 3rem;
    }
}

.camino-del-ser h2{
    background-color: indigo;
    padding: 5px;
    text-align: center;
    font-size: 2rem;
    color: aliceblue;
    font-family: 'Francois One', sans-serif;
}

.contenedor_camino-del-ser{
    display: flex;
    flex-direction: column;
}

.texto_introduccion{

    padding:10px;
    border: 5px solid indigo;
    width: 80%;
    margin-top:20px;
    border-radius: 20px;
    margin-left: 35px;
}

.video video {
    margin-top: 20px;
    margin-left: 35px;
    width: 80%;
}


@media(min-width:475px){
    .texto_introduccion{
        margin-left: 50px;
    }

    .video{
        width: 80%;
        margin-left: 50px;
    }
}

@media(min-width:600px){
    .texto_introduccion{
        margin-left: 60px;
    }

    .video{
        width: 60%;
        margin-left: 120px;
    }

}

@media(min-width:800px){
    .texto_introduccion{
        margin-left: 80px;
    }

    .video{
        width: 50%;
        margin-left: 200px;
    }
}

@media(min-width:1024px){
    .contenedor_camino-del-ser{
        display: flex;
        flex-direction: row;
    }
    .texto_introduccion{
    margin-bottom: 20px;
    }
    
    .video{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 80px;
        width: 80%;
    }
}

@media(min-width:1200px){
    .texto_introduccion{
        align-self: center;
        transition: transform .2s;
        margin-left: 110px;
}

.texto_introduccion:hover {
    transform: scale(1.2);

    }

    .video{
        width: 50%;
    }
}

@media(min-width:1400px){
    .video{
        width: 30%;
    }
}

/**-----------------------------------------------------MAIN QUIENES SOMOS----------------------------------------------------------------**/

.banner-about-us{
        background-image: url(../assets/img/foto-fondo2.jpg
        );
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;
}

.banner-about-us__text{
    color: rgba(76, 0, 130, 0.938);
    text-align: center;
    font-weight: 700;
    background-color:rgba(240, 248, 255, 0.384);
    position: relative;
    top: 45%;
    padding: 5px;
    font-size: 2rem;
    font-family: 'Francois One', sans-serif;
}

@media (min-width:600px){
    .banner-about-us{
        height: 70vh;
    }
}
@media (min-width:800px){
    .banner-about-us{
        height: 80vh;
    }
}

@media (min-width:1024px){
    .banner-about-us__text{
        font-size: 3rem;
    }
}

.analia__titulo{
    background-color: indigo;
    padding: 5px;
    text-align: center;
    font-size: 2rem;
    color: aliceblue;
    font-family: 'Francois One', sans-serif;
}

.analia__foto{
    width: 100%;
    padding: 10px;
}

.analia__texto{
    padding:10px;
    border: 5px solid indigo;
    width: 100%;
    margin-top:20px;
    border-radius: 20px;
    text-align: justify;
    margin-bottom: 10%;
}

.javier__titulo{
    background-color: indigo;
    padding: 5px;
    text-align: center;
    font-size: 2rem;
    color: aliceblue;
    font-family: 'Francois One', sans-serif;
}

.javier__foto{
    width: 100%;
    padding: 10px;
}

.javier__texto{
    padding:10px;
    border: 5px solid indigo;
    width: 100%;
    margin-top:20px;
    border-radius: 20px;
    text-align: justify;
    margin-bottom: 10px;
}


@media (min-width:600px){
    .analia__foto{
        width: 80%;
        margin-left: 60px;
    }

    .javier__foto{
        width: 80%;
        margin-left: 60px;
    }
}

@media (min-width:800px){
    .analia__foto{
        width: 60%;
        margin-left: 150px;
    }

    .javier__foto{
        width: 60%;
        margin-left: 150px;
    }
}

@media (min-width:1024px){
    .analia__contenedor{
        display: flex;
        flex-direction: row;
    }

    .analia__foto{
        width: 72%;

    }

    .analia__texto{
        align-self: center;
        text-align: center;
        margin: 15px;
    }

    .javier__contenedor{
        display: flex;
        flex-direction: row;
    }

    .javier__foto{
        width: 72%;


    }

    .javier__texto{
        align-self: center;
        text-align: center;
        margin: 15px;
    }


    @media (min-width:1200px){
        .analia__foto{
            width: 50%;
        }

        .javier__foto{
            width: 50%;
        }
    }
}

/**-----------------------------------------------------MAIN CURSOS-----------------------------------------------------------------**/

.banner-cursos{
    background-image: url(../assets/img/foto-fondo1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

.banner-cursos__text{
    color: rgba(76, 0, 130, 0.932);
    text-align: center;
    font-weight: 700;
    background-color:rgba(240, 248, 255, 0.384);
    position: relative;
    top: 45%;
    padding: 5px;
    font-size: 2rem;
    font-family: 'Francois One', sans-serif;
}

@media (min-width:600px){
    .banner-cursos{
        height: 70vh;
    }
}
@media (min-width:800px){
    .banner-cursos{
        height: 80vh;
    }
}

@media (min-width:1024px){
    .banner-cursos__text{
        font-size: 3rem;
    }
}

.cursos__text{
    padding:10px;
    border: 5px solid indigo;
    margin-top:80px;
    border-radius: 20px;
    text-align: justify;
    margin-bottom: 10%;
}

.cursos__imagenes{
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(min-width:400px){
    .img__cursos{
        max-width: 500px;
    }
}


@media(min-width:900px){
    .cursos__imagenes{
        flex-direction: row;
    }
}

.img__cursos{
    border: 5px solid indigo;
    border-radius: 20px;

    min-width: 300px;
    padding: 10px;
    transition: scale 150ms ease;
}

.img__cursos:hover{
    scale: 1.02;
}

.cursos__imagenes img{
    width: 100%;
}

/**-----------------------------------------------------MAIN CHARLAS-----------------------------------------------------------------**/

.banner-charlas{
    background-image: url(../assets/img/foto-fondo4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

.banner-charlas__texto{
    color: rgba(76, 0, 130, 0.918);
    text-align: center;
    font-weight: 700;
    background-color:rgba(240, 248, 255, 0.384);
    position: relative;
    top: 45%;
    padding: 5px;
    font-size: 2rem;
    font-family: 'Francois One', sans-serif;
}

@media (min-width:600px){
    .banner-charlas{
        height: 70vh;
    }
}
@media (min-width:800px){
    .banner-charlas{
        height: 80vh;
    }

}

@media (min-width:1024px){
    .banner-charlas__text{
        font-size: 3rem;
    }
}

.charla-titulo{
    background-color: indigo;
    padding: 5px;
    text-align: center;
    font-size: 2rem;
    color: aliceblue;
    font-family: 'Francois One', sans-serif;
}

.contenedor-charlas{
    display: flex;
    flex-direction: column;
    
    

}

.contenedor-charlas img{
    width: 100%;
    padding: 10px;
}

.contenedor-charlas p{
    text-align: justify;
    border: 3px solid indigo;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
}

@media(min-width:600px){
    .contenedor-charlas img{
        width: 70%;
        margin-left: 105px;
    }
}

@media(min-width:800px){
    .contenedor-charlas img{
        width: 50%;
        margin-left: 200px;
    }
}

@media(min-width:1024px){
    .contenedor-charlas img{
        margin-left: 250px;
    }
}

@media(min-width:1200px){
    .contenedor-charlas img{
        margin-left: 350px;
    }
}
@media (min-width:1600px){
    .contenedor-charlas img{
        margin-left: 450px ;
    }

}



/**----------------------------------------------MAIN YOGA----------------------------------------------------**/

.banner-yoga{
    background-image: url(../assets/img/foto-fondo3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

.banner-yoga__texto{
    color: rgba(76, 0, 130, 0.904);
    text-align: center;
    font-weight: 700;
    background-color:rgba(240, 248, 255, 0.384);
    position: relative;
    top: 45%;
    padding: 5px;
    font-size: 2rem;
    font-family: 'Francois One', sans-serif;
}

@media (min-width:600px){
    .banner-yoga{
        height: 70vh;
    }
}
@media (min-width:800px){
    .banner-yoga{
        height: 80vh;
    }
}

@media (min-width:1024px){
    .banner-yoga__texto{
        font-size: 3rem;
    }
}

.yoga__texto{
    padding:10px;
    border: 5px solid indigo;
    width: 100%;
    margin-top:20px;
    border-radius: 20px;
    text-align: justify;
    margin-bottom: 20px;
}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    padding: 20px;
    grid-gap:10px
    
}

.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.gallery__img:hover{
    transform: scale(1.1);
    box-shadow: 0px 9px 28px 3px rgba(0,0,0,0.9) ;
}


.gallery__item:nth-child(3){
    grid-row-start: span 2;
}

.gallery__item:nth-child(4){
    grid-column-start: span 2;
}

.gallery__item:nth-child(5){
    grid-row-start: span 2;
}

.gallery__item:nth-child(8){
    grid-column-start: span 2;
}

.gallery__item:nth-child(9){
    grid-column-start: span 3;
}

@media(min-width:480px){
    .gallery-container{
        grid-template-columns: repeat(4, 1fr);
    }
    .gallery__item:nth-child(2){
        grid-column-start: span 3;
        grid-row-start: span 2;
    }
    
    .gallery__item:nth-child(6){
        grid-column-start: span 2;
    }
    
    .gallery__item:nth-child(9){
        grid-column-start: span 2;
    }
}

@media(min-width:768px){
    .gallery-container{
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 250px;
    }

    .gallery__item:nth-child(1){
        grid-column-start: span 2;
    }

    .gallery__item:nth-child(3){
        grid-row-start: span 2;
        grid-column-start: span 2;

    }

    .gallery__item:nth-child(6){
        grid-column-start: span 3;
        grid-row-start: span 2;
    }

    .gallery__item:nth-child(5){
        grid-row-start: span 3;
    }

    .gallery__item:nth-child(7){
        grid-row-start: span 2;
    }

    .gallery__item:nth-child(9){
        grid-column-start: span 3;
    }
}

@media(min-width:1024px){
    .gallery-container{
        grid-template-columns: repeat(4, 1fr);
        margin: 50px;
        border: 5px solid indigo;
        border-radius: 20px;
        grid-auto-rows: 150px;
    }

    .gallery__item:nth-child(1){
        grid-row-start: span 2;
        grid-column-start: span 3;
    }
    
    .gallery__item:nth-child(2){
        grid-column-start: span 2;
    }
    
    .gallery__item:nth-child(3){
        grid-row-start: span 2;
    }
    
    .gallery__item:nth-child(4){
        grid-column-start: span 3;
        grid-row-start: span 2;
    }
    
    .gallery__item:nth-child(5){
        grid-row-start: span 3;

    }

    .gallery__item:nth-child(6){
        grid-row-start: span 3;
        grid-column-start: span 4;
    }
    
    .gallery__item:nth-child(7){
        grid-column-start: span 2;
    }
    
    .gallery__item:nth-child(8){
        grid-row-start: span 2;
        grid-column-start: span 3;
    }
    
    .gallery__item:nth-child(9){
        grid-column-start: span 5;
        grid-row-start: span 2;
    }
    
}

    @media(min-width:1200px){
        .gallery-container{
            margin: 100px;
            grid-auto-rows: 200px;
        }
}


/**-----------------------------------------------FOOTER---------------------------------------------------**/

footer{
    background-color: indigo;
    color: white;
}

footer a:hover{
    text-decoration: none;
    color: #fff;
}

.icons{
    display: flex;
    column-gap: 25px;
    padding: 10px;
    justify-content: space-around;
}


.icon{
    color: white;
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, backgroud-color;
    transition-duration: .25s;
}

.icon:hover{
    outline-offset: 4px;
}

.icon:hover i{
    animation: shake .25s;
}

.icon--youtube:hover{
    background: rgb(250,2,2);
    background: radial-gradient(circle, rgba(250,2,2,1) 0%, rgba(5,0,2,1) 100%);
    outline-color: rgb(143, 2, 2);
}

.icon--facebook:hover{
    background: rgb(2,128,250);
    background: radial-gradient(circle, rgba(2,128,250,1) 0%, rgba(5,0,2,1) 100%);
    outline-color: rgb(0, 69, 138);;
}

.icon--inbox:hover{
    background: rgb(131, 130, 130);
    background: radial-gradient(circle, rgba(152,152,152,1) 0%, rgba(5,0,2,1) 100%);
    outline-color: rgb(104, 104, 104);
}

.icon--whatsapp:hover{
    background: rgb(5,255,0);
    background: radial-gradient(circle, rgba(5,255,0,1) 0%, rgba(5,0,2,1) 100%);
    outline-color: rgb(3, 109, 1);
}

@keyframes shake{
    10%{transform: rotate(15deg);}
    20%{transform: rotate(-15deg);}
    30%{transform: rotate(15deg);}
    40%{transform: rotate(-15deg);}
}