*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/**---------HEADER-------------**/

.navbar{
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
}


.navbar img{
    width: 100%;
}

.menu a{
    color: indigo;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: transform .2s;
}

.menu:hover {
    transform: scale(1.5);
}

@media (min-width:600px){
    .menu{
    display: inline-block;
    margin-left: 50px;
    }   

    .navbar img{
        width: 80%;
        position: relative;
        left: 50px;
    }
}

@media (min-width:800px){
    .navbar img{
        width: 60%;
        left: 150px;
    }

    .menu{
        margin-left: 80px;
    }
}

@media (min-width:1024px){
    .navbar img{
        width:20%;
        left: 0px;
    }

    .navbar{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu{
        margin-left: 58px;
    }
}

@media (min-width:1200px){
    .navbar img{
        width: 12%;
    }
}

/** animacion para todos lod h1**/

body h1{
    transition: transform .2s;
}

body h1:hover {
    transform: scale(1.5);
}

body{
    overflow-x: hidden;
}


/**-------------------------------------------------------------MAIN INDEX------------------------------------------------------------------**/

.banner-index{
    background-image: url(../assets/img/alpa-sol1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

.banner-index__text{
    color: rgba(76, 0, 130, 0.616);
    text-align: center;
    font-weight: 700;
    background-color:rgba(240, 248, 255, 0.384);
    position: relative;
    top: 45%;
    padding: 5px;
    font-size: 2rem;
    font-family: 'Francois One', sans-serif;
}


@media (min-width:600px){
    .banner-index{
        height: 70vh;
    }
}
@media (min-width:800px){
    .banner-index{
        height: 80vh;
    }
}

.camino-del-ser h2{
    background-color: indigo;
    padding: 5px;
    text-align: center;
    font-size: 2rem;
    color: aliceblue;
    font-family: 'Francois One', sans-serif;
}

.contenedor_camino-del-ser{
    display: flex;
    flex-direction: column;
}

.texto_introduccion{

    padding:10px;
    border: 5px solid indigo;
    width: 80%;
    margin-top:20px;
    border-radius: 20px;
    margin-left: 35px;
}




.video video {
    margin-top: 20px;
    margin-left: 30px;
    width: 80%;
}

@media(min-width:600px){
    .texto_introduccion{
        margin-left: 60px;
    }

    .video{
        width: 60%;
        margin-left: 120px;
    }

}

@media(min-width:800px){
    .texto_introduccion{
        margin-left: 80px;
    }

    .video{
        width: 50%;
        margin-left: 200px;
    }
}

@media(min-width:1024px){
    .contenedor_camino-del-ser{
        display: flex;
        flex-direction: row;
    }
    .texto_introduccion{
    margin-bottom: 20px;
    }
    
    .video{
        margin-top: 50px;
        margin-bottom: 10px;
        margin-right: 80px;
        width: 100%;
    }
}

@media(min-width:1200px){
    .texto_introduccion{
        align-self: center;
        transition: transform .2s;
        margin-left: 110px;
}

.texto_introduccion:hover {
    transform: scale(1.2);

    }

    .video{
        width: 50%;
    }
}

/**-----------------------------------------------------MAIN QUIENES SOMOS----------------------------------------------------------------**/

.banner-about-us{
        background-image: url(../assets/img/quienes-somos-ana-y-javi.jpeg
        );
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;
}

.banner-about-us__text{
    color: rgba(76, 0, 130, 0.616);
    text-align: center;
    font-weight: 700;
    background-color:rgba(240, 248, 255, 0.384);
    position: relative;
    top: 45%;
    padding: 5px;
    font-size: 2rem;
    font-family: 'Francois One', sans-serif;
}

@media (min-width:600px){
    .banner-about-us{
        height: 70vh;
    }
}
@media (min-width:800px){
    .banner-about-us{
        height: 80vh;
    }
}

.analia__titulo{
    background-color: indigo;
    padding: 5px;
    text-align: center;
    font-size: 2rem;
    color: aliceblue;
    font-family: 'Francois One', sans-serif;
}

.analia__foto{
    width: 100%;
}

.analia__texto{
    padding:10px;
    border: 5px solid indigo;
    width: 100%;
    margin-top:20px;
    border-radius: 20px;
    text-align: justify;
    margin-bottom: 10%;
}

.javier__titulo{
    background-color: indigo;
    padding: 5px;
    text-align: center;
    font-size: 2rem;
    color: aliceblue;
    font-family: 'Francois One', sans-serif;
}

.javier__foto{
    width: 100%;
}

.javier__texto{
    padding:10px;
    border: 5px solid indigo;
    width: 100%;
    margin-top:20px;
    border-radius: 20px;
    text-align: justify;
    margin-bottom: 10px;
}


@media (min-width:600px){
    .analia__foto{
        width: 80%;
        position: relative;
        left: 110px;
    }

    .javier__foto{
        width: 80%;
        position: relative;
        left: 110px;
    }
}

@media (min-width:800px){
    .analia__foto{
        width: 70%;
        left: 120px ;
    }

    .javier__foto{
        width: 70%;
        left: 120px;
    }
}

@media (min-width:1024px){
    .analia__contenedor{
        display: flex;
        flex-direction: row;
    }

    .analia__foto{
        width: 72%;
        left: 10px;
    }

    .analia__texto{
        align-self: center;
        text-align: center;
        margin: 15px;
    }

    .javier__contenedor{
        display: flex;
        flex-direction: row;
    }

    .javier__foto{
        width: 72%;
        left: 10px;
    }

    .javier__texto{
        align-self: center;
        text-align: center;
        margin: 15px;
    }

}

/**-----------------------------------------------------MAIN CURSOS-----------------------------------------------------------------**/

.banner-cursos{
    background-image: url(../assets/img/charla8.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

.banner-cursos__text{
    color: rgba(76, 0, 130, 0.616);
    text-align: center;
    font-weight: 700;
    background-color:rgba(240, 248, 255, 0.384);
    position: relative;
    top: 45%;
    padding: 5px;
    font-size: 2rem;
    font-family: 'Francois One', sans-serif;
}

@media (min-width:600px){
    .banner-cursos{
        height: 70vh;
    }
}
@media (min-width:800px){
    .banner-cursos{
        height: 80vh;
    }
}

.cursos__text{
    padding:10px;
    border: 5px solid indigo;
    margin-top:80px;
    border-radius: 20px;
    text-align: justify;
    margin-bottom: 10%;
}

.cursos__imagenes{
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.img__cursos{
    border: 5px solid indigo;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 300px;
    padding: 10px;
    transition: scale 150ms ease;
}

.img__cursos:hover{
    scale: 1.02;
}

.cursos__imagenes img{
    width: 100%;
}

/**-----------------------------------------------------MAIN CHARLAS-----------------------------------------------------------------**/

.banner-charlas{
    background-image: url(../assets/img/alpa-sol2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

.banner-charlas__texto{
    color: rgba(76, 0, 130, 0.616);
    text-align: center;
    font-weight: 700;
    background-color:rgba(240, 248, 255, 0.384);
    position: relative;
    top: 45%;
    padding: 5px;
    font-size: 2rem;
    font-family: 'Francois One', sans-serif;
}

@media (min-width:600px){
    .banner-charlas{
        height: 70vh;
    }
}
@media (min-width:800px){
    .banner-charlas{
        height: 80vh;
    }

}

.charla-titulo{
    background-color: indigo;
    padding: 5px;
    text-align: center;
    font-size: 2rem;
    color: aliceblue;
    font-family: 'Francois One', sans-serif;
}

.contenedor-charlas{
    display: flex;
    flex-direction: column;

}

.contenedor-charlas img{
    width: 100%;
}

.contenedor-charlas p{
    text-align: justify;
    border: 3px solid indigo;
    margin: 10px;
    border-radius: 15px;
}

@media(min-width:480px){
    .contenedor-charlas img{
        width: 80%;
        position: relative;
        left: 50px;
        top: 10px;
    }
}

@media(min-width:800px){
    .contenedor-charlas img{
        width: 50%;
        position: relative;
        left: 200px;
    }
}

@media(min-width:1024px){
    .contenedor-charlas img{
        left: 250px;
    }
}



/**----------------------------------------------MAIN YOGA----------------------------------------------------**/

.banner-yoga{
    background-image: url(../assets/img/retiro-alpa-sol2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

.banner-yoga__texto{
    color: rgba(76, 0, 130, 0.616);
    text-align: center;
    font-weight: 700;
    background-color:rgba(240, 248, 255, 0.384);
    position: relative;
    top: 45%;
    padding: 5px;
    font-size: 2rem;
    font-family: 'Francois One', sans-serif;
}

@media (min-width:600px){
    .banner-charlas{
        height: 70vh;
    }
}
@media (min-width:800px){
    .banner-charlas{
        height: 80vh;
    }

}

.yoga__texto{
    padding:10px;
    border: 5px solid indigo;
    width: 100%;
    margin-top:20px;
    border-radius: 20px;
    text-align: justify;
    margin-bottom: 20px;
}

:root{
    --grid-width:250px;
}

.section-grid{
    margin-left: 5px;
    width: var(--grid-width);
    border-left: 4px solid indigo;
    border-bottom: 4px solid indigo;

    box-sizing: content-box;
    border-radius: 0.25rem;
}

.grid-1{
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-auto-rows: 120px;
}

@media screen and (min-width: 480px) {
    :root{
        --grid-width: 430px
    }
}

@media screen and (min-width: 600px) {
    :root{
        --grid-width: 550px
    }

    .grid-1{
        grid-template-columns: repeat(7, cacl(var(--grid-width) / 7));

        grid-auto-rows: calc(var(--grid-width) / 7) ;
    }
}

@media screen and (min-width: 1024px) {
    :root{
        --grid-width: 920px
    }


}
    .grid-querie{
        display: none;
    }
    
    .grid-item{
        overflow: hidden;
        background-size: cover;
        background-position: center;
        transition: scale 150ms ease;
    }
    
    .grid-item:hover{
        scale: 1.02;
        border-radius: 0.25rem;
    }
    
    .grid-item img{
        width: 100%;
    }
    
    .grid-item-1{
        background-image: url(../assets/img/yoga1.jpeg);
    }
    
    .grid-item-2{
        background-image: url(../assets/img/yoga2.jpeg);
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    
    .grid-item-3{
        background-image: url(../assets/img/yoga3.jpeg);
        grid-row-start: span 2;
    }
    
    .grid-item-4{
        background-image: url(../assets/img/yoga4.jpeg);
        grid-column-start: span 2;
    
    }
    
    .grid-item-5{
        background-image: url(../assets/img/yoga5.jpeg);
        grid-column-start: span 3;
        grid-row-start: span 2;
    }
    
    .grid-item-6{
        background-image: url(../assets/img/yoga6.jpeg);
        grid-row-start: span 2;
        grid-column-start: span 3;
    }
    
    .grid-item-7{
        background-image: url(../assets/img/yoga7.jpeg);
        grid-row-start: span 2;
        grid-column-start: span 2;
    }


@media screen and (min-width:600px) {

    .grid-querie{
        display: block;
    }

    .grid-item-1{
        grid-column-start: span 3;
        grid-row-start: span 3;
    }
    
    .grid-item-2{
        grid-column-start: span 4;
        grid-row-start: span 4;
    }
    
    .grid-item-3{
        grid-row-start: 6;
        grid-column-start: 5;
        grid-row-end: span 2;
        grid-column-end: span 2;
    }
    
    .grid-item-4{
        grid-column-start: 1;
        grid-column-end: span 3;
        grid-row-start: 1;
        grid-row-end: span 3;
    }
    
    .grid-item-5{
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    
    .grid-item-6{
        grid-row-start: span 2;
    }
    
    .grid-item-7{
        grid-row-start: span 2;
        grid-column-start: span 3;
    }
}





/**-----------------------------------------------FOOTER---------------------------------------------------**/

footer{
    background-color: indigo;
    color: white;
}

.icons{
    display: flex;
    column-gap: 25px;
    padding: 10px;
    justify-content: space-around;
}


.icon{
    color: white;
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, backgroud-color;
    transition-duration: .25s;
}

.icon:hover{
    outline-offset: 4px;
}

.icon:hover i{
    animation: shake .25s;
}

.icon--youtube:hover{
    background: rgb(250,2,2);
    background: radial-gradient(circle, rgba(250,2,2,1) 0%, rgba(5,0,2,1) 100%);
    outline-color: rgb(143, 2, 2);
}

.icon--facebook:hover{
    background: rgb(2,128,250);
    background: radial-gradient(circle, rgba(2,128,250,1) 0%, rgba(5,0,2,1) 100%);
    outline-color: rgb(0, 69, 138);;
}

.icon--inbox:hover{
    background: rgb(131, 130, 130);
    background: radial-gradient(circle, rgba(152,152,152,1) 0%, rgba(5,0,2,1) 100%);
    outline-color: rgb(104, 104, 104);
}

.icon--whatsapp:hover{
    background: rgb(5,255,0);
    background: radial-gradient(circle, rgba(5,255,0,1) 0%, rgba(5,0,2,1) 100%);
    outline-color: rgb(3, 109, 1);
}

@keyframes shake{
    10%{transform: rotate(15deg);}
    20%{transform: rotate(-15deg);}
    30%{transform: rotate(15deg);}
    40%{transform: rotate(-15deg);}
}