.banner-charlas{
    background-image: url(../assets/img/foto-fondo4.jpg);
    @include background-image;
    &__texto{
        @extend .banner-index__text;
    }
}

.charla-titulo{
    @extend .analia__titulo;
}

.contenedor-charlas{
    display: flex;
    flex-direction: column;
    & img{
        width: 100%;
        padding: 10px;
    }
    & p{
        text-align: justify;
        border: 3px solid $clr-indigo;
        margin: 10px;
        border-radius: 15px;
        padding: 10px;
    }
}

@include tablet{
    .banner-charlas{
        height: 70vh;
    }

    .contenedor-charlas img{
        width: 70%;
        margin-left: 105px;
    }
}

@include tablet-grande{
    .banner-charlas{
        height: 80vh;
    }

    .contenedor-charlas img{
        width: 50%;
        margin-left: 200px;
    }
}

@include desktop {
    .banner-charlas__text{
        @include font(3rem, 700);
    }

    .contenedor-charlas img{
        margin-left: 250px;
    }
}

@include wide {
    .contenedor-charlas img{
        margin-left: 350px;
    }
}

@include extra-wide {
    .contenedor-charlas img{
        margin-left: 450px ;
    }
}