.banner-charlas{
    background-image: url(../assets/img/foto-fondo4.jpg);
    @include background-image;
    &__texto{
        @extend .banner-index__text;
    }
}

.charlas{
    &__text{
        @extend .cursos__text
    }
    &__imagenes{
        @extend .cursos__imagenes
    }
}

.img__charlas{
    @extend .img__cursos

}

@include celular-lateral{
    .img__charlas{
        max-width: 500px;
    }
}

@include tablet{
    .banner-charlas{
        height: 70vh;
    }
}

@include tablet-grande{
    .banner-charlas{
        height: 80vh;
    }

    
}

@include desktop {
    .banner-charlas__text{
        font-size: 3rem;
    }

    .charlas__text{
        margin: 30px 100px;
    }

    .charlas__imagenes{
        flex-direction: row;
    }
}

@include extra-wide{
    .cursos__text{
        margin: 30px 150px;
    }
}