.banner-cursos{
    background-image: url(../assets/img/foto-fondo1.jpg);
    @include background-image;
    &__text{
        @extend .banner-index__text;
    }
}

.cursos{
    &__titulo{
        @include h2;
    }
    &__text{
        padding:10px;
        border: 5px solid $clr-indigo;
        border-radius: 20px;
        text-align: justify;
        margin: 20px;
    }
    &__imagenes{
        padding: 10px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & img{
            width: 100%;
        }
    }
}

.img__cursos{
    border: 5px solid $clr-indigo;
    border-radius: 20px;

    min-width: 300px;
    padding: 10px;
    transition: scale 200ms ease;
    &:hover{
        scale: 1.02;
    }
}

@include celular-lateral{
    .img__cursos{
        max-width: 500px;
    }
}

@include tablet{
    .banner-cursos{
        height: 70vh;
    }
}

@include tablet-grande{
    .banner-cursos{
        height: 80vh;
    }

    
}

@include desktop {
    .banner-cursos__text{
        font-size: 3rem;
    }

    .cursos__text{
        margin: 30px 100px;
    }

    .cursos__imagenes{
        flex-direction: row;
    }
}

@include extra-wide{
    .cursos__text{
        margin: 30px 150px;
    }
}
