.banner-index{
    background-image: url(../assets/img/foto-fondo5.jpg);
    @include background-image;
    &__text{
        color: $clr-h1-indigo;
    text-align: center;
    @include font(2.5rem, 700);
    background-color: $clr-bg-h1;
    position: relative;
    top: 45%;
    padding: 5px;
    font-family: $ff-francois
    }
}



.camino-del-ser h2{
    @extend .analia__titulo;
}

.contenedor{
    display: flex;
    flex-direction: column;
    &__texto{
        padding:10px;
    border: 5px solid $clr-indigo;
    width: 80%;
    margin-top:20px;
    border-radius: 20px;
    margin-left: 35px;
    }
    &__video video{
    margin-top: 20px;
    margin-left: 35px;
    width: 80%;
    }
}

@include celular-lateral{
    .contenedor__texto{
        margin-left: 50px;
    }

    .contenedor__video{
        width: 80%;
        margin-left: 50px;
    }
}

@include tablet{
    .banner-index{
        height: 70vh;
    }

    .contenedor__texto{
        margin-left: 60px;
    }

    .contenedor__video video{
        width: 60%;
        margin-left: 120px;
    }
}

@include tablet-grande{
    .banner-index{
        height: 80vh;
    }

    .contenedor__texto{
        margin-left: 80px;
    }

    .contenedor__video video{
        width: 50%;
        margin-left: 200px;
    }
}

@include desktop {
    .banner-index__text{
        @include font(3rem, 700);
    }

    .contenedor{
        display: flex;
        flex-direction: row;
        &__texto{
            margin-bottom: 20px;
        }
        &__video video{
            padding: 10px;
            margin-left: 100px;
            width: 60%;
        }
    }
}

@include wide {
    .contenedor__texto{
        align-self: center;
        margin-left: 110px;
    }

    .contenedor__video video{
        width: 50%; 
    }
}

@include extra-wide{
    .video{
        width: 30%;
    }
}