.banner-about-us{
    background-image: url(../assets/img/foto-fondo2.jpg);
    @include background-image;
    &__text{
        @extend .banner-index__text;
    }
}


.analia{
    &__titulo{
        @include h2;
    }
    &__contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__foto{
    width: 100%;
    margin: 15px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24);
    }
    &__texto{
        @include bordes;
        margin-top:20px;
        width: 80%;
        text-align: center;
        margin-bottom: 30px;
    }
}

.javier{
    &__titulo{
        @include h2;
    }
    &__contenedor{
        @extend .analia__contenedor;
    }
    &__foto{
        @extend .analia__foto;
    }
    &__texto{
        @extend .analia__texto;
    }
}   

@include celular-lateral{
    .analia__foto{
        width: 70%;

    }

    .javier__foto{
        width: 70%;

    }
}


@include tablet{
    .banner-about-us{
        height: 70vh;
    }

    .analia__foto{
        width: 60%;

    }

    .javier__foto{
        width: 60%;

    }
}

@include tablet-grande{
    .banner-about-us{
        height: 80vh;
    }

    .analia__foto{
        width: 50%;
    }

    .javier__foto{
        width: 50%;
    }
}

@include desktop {
    .banner-about-us__text{
        @include font(3rem, 700);
    }

    .analia{
    &__contenedor{
        display: flex;
        flex-direction: row;
    }

    &__foto{
        width: 40%;

    }

    &__texto{
        align-self: center;
        text-align: center;
        margin: 150px;
        width: 50%;
    }
}
    .javier{
    &__contenedor{
        display: flex;
        flex-direction: row;
    }

    &__foto{
        width: 40%;


    }

    &__texto{
        align-self: center;
        text-align: center;
        margin: 150px;
        width: 50%;
    }
}
}

@include wide {
    .analia__foto{
        width: 30%;
    }

    .analia__texto{
        width: 40%;
    }

    .javier__foto{
        width: 30%;
    }

    .javier__texto{
        width: 40%;
    }
}
