.banner-yoga{
    background-image: url(../assets/img/foto-fondo-yoga.jpg);
    @include background-image;
    &__texto{
        @extend .banner-index__text;
    }
}

.yoga{
    &__titulo{
        @include h2;
    }
    &__texto{
        @include bordes;
        text-align:justify;
        margin: 15px;
}
}

.gallery__titulo{
    @include h2;
}


.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    padding: 20px;
    grid-gap:10px;
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 200ms ease;
        &:hover{
            transform: scale(1.03);
            box-shadow: 0px 9px 28px 3px rgba(0,0,0,0.9) ;
        }
    }&__item:nth-child(3){
        grid-row-start: span 2;
    }&__item:nth-child(4){
        grid-column-start: span 2;
    }&__item:nth-child(5){
        grid-row-start: span 2;
    }&__item:nth-child(8){
        grid-column-start: span 2;
    }&__item:nth-child(9){
        grid-column-start: span 3;
    }
}


@include celular-lateral{
    .gallery{
        grid-template-columns: repeat(4, 1fr);
        &__item:nth-child(2){
            grid-column-start: span 3;
            grid-row-start: span 2;
        }&__item:nth-child(6){
            grid-column-start: span 2;
        }&__item:nth-child(9){
            grid-column-start: span 2;
        }
    }
}

@include tablet{
    .banner-yoga{
        height: 70vh;
    }
}

@include tablet-grande{
    .gallery{
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 150px;
        &__item:nth-child(1){
            grid-column-start: span 2;
        }&__item:nth-child(3){
            grid-row-start: span 2;
            grid-column-start: span 2;
        }&__item:nth-child(6){
            grid-column-start: span 3;
            grid-row-start: span 2;
        }&__item:nth-child(5){
            grid-row-start: span 3;
        }&__item:nth-child(7){
            grid-row-start: span 2;
        }&__item:nth-child(9){
            grid-column-start: span 3;
        }
    }
}

@include desktop {
    .banner-yoga__texto{
        font-size: 3rem;
    }

    .yoga__texto{
        margin: 30px 100px;
    }

    .gallery{
        grid-template-columns: repeat(4, 1fr);
        margin: 50px;
        @include bordes;
        grid-auto-rows: 150px;
        &__item:nth-child(1){
            grid-row-start: span 2;
            grid-column-start: span 3;
        }&__item:nth-child(2){
            grid-column-start: span 2;
        }&__item:nth-child(3){
            grid-row-start: span 2;
        }&__item:nth-child(4){
            grid-column-start: span 3;
            grid-row-start: span 2;
        }&__item:nth-child(5){
            grid-row-start: span 3;
        }&__item:nth-child(6){
            grid-row-start: span 3;
            grid-column-start: span 4;
        }&__item:nth-child(7){
            grid-column-start: span 2;
        }&__item:nth-child(8){
            grid-row-start: span 2;
            grid-column-start: span 3;
        }&__item:nth-child(9){
            grid-column-start: span 5;
            grid-row-start: span 2;
        }
    }
}

@include wide {
    .gallery{
        margin:  100px 200px;
        grid-auto-rows: 150px;
    }
}