$redes: (
    youtube: radial-gradient(circle, rgba(250,2,2,1) 0%, rgba(5,0,2,1) 100%),
    facebook: radial-gradient(circle, rgba(2,128,250,1) 0%, rgba(5,0,2,1) 100%),
    instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%),
    whatsapp: radial-gradient(circle, rgba(5,255,0,1) 0%, rgba(5,0,2,1) 100%,)
    );

$redes-circle: (
    youtube: rgb(143, 2, 2),
    facebook: rgb(0, 69, 138),
    instagram: #a02d76,
    whatsapp: rgb(3, 109, 1),
);