@mixin font($size, $weight){
    font-size: $size;
    font-weight: $weight;
}

@mixin background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    height: 50vh;
}

@mixin h2 {
    background-color: $clr-indigo;
    padding: 5px;
    text-align: center;
    @include font(2rem, 500);
    color: $clr-white;
    font-family: 'Francois One', sans-serif;
}

@mixin bordes {
    border: 3px solid $clr-indigo;
    border-radius: 20px;
    padding:10px;
}
