*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

p::selection{
    color: indigo;
}

strong::selection{
    color: indigo;
}