
$clr-indigo:rgba(76, 0, 130, 0.86);
$clr-white: white;

$clr-h1-indigo:rgba(76, 0, 130, 0.959);
$clr-bg-h1:rgba(240, 248, 255, 0.384);

$ff-francois:"Francois One", sans-serif;
$ff-mukta:"Mukta", sans-serif;