footer{
    background-color: $clr-indigo;
    color: $clr-white;
    box-shadow: 30px 9px 28px 3px rgba(0,0,0,0.9) ;
    & a:hover{
        text-decoration: none;
        color: $clr-white;
    }
}

.icons{
    display: flex;
    column-gap: 25px;
    padding: 12px;
    justify-content: space-around;
}


.icon{
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: $clr-white;
    border-radius: 50%;
    outline: 2px solid $clr-white;
    transition-property: outline-offset, outline-color, backgroud-color;
    transition-duration: .25s;
    &:hover{
        outline-offset: 4px;
    }
    &:hover i{
        animation: shake .25s;
    }
}


.icon--youtube:hover{
    background: map-get($map: $redes, $key: youtube);
    outline-color: map-get($map: $redes-circle, $key: youtube);
}

.icon--facebook:hover{
    background: map-get($map: $redes, $key: facebook);
    outline-color: map-get($map: $redes-circle, $key: facebook);
}

.icon--instagram:hover{

    background: map-get($map: $redes, $key: instagram);
    outline-color: map-get($map: $redes-circle, $key: instagram);
}

.icon--whatsapp:hover{
    background: map-get($map: $redes, $key: whatsapp);
    outline-color: map-get($map: $redes-circle, $key: whatsapp);
}

@keyframes shake{
    10%{transform: rotate(15deg);}
    20%{transform: rotate(-15deg);}
    30%{transform: rotate(15deg);}
    40%{transform: rotate(-15deg);}
}

footer .copyright{
    text-align: center;
    margin: 0;
    padding: 15px;
    font-size: 15px;
}